<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Flashcards</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-400">
    <div class="lg:w-2/3 mx-auto">
    <!-- Header Section -->
    <header class="bg-gray-800 text-white p-4 flex justify-between items-center">
        <a href="/home" class="text-lg font-bold">Workshop</a>
        <nav class="space-x-4">
            <a href="/projects" class="px-4 hover:bg-gray-600 bg-gray-700 py-2 rounded-md">Projects</a>
            <a href="/learn" class="px-4 hover:bg-gray-600 bg-gray-700 py-2 rounded-md">Learn</a>
            <a href="/data" class="px-4 hover:bg-gray-600 bg-gray-700 py-2 rounded-md">Data</a>
            <a href="/about" class="px-4 hover:bg-gray-600 bg-gray-700 py-2 rounded-md">About</a>
        </nav>
    </header>
    <div class="flex justify-center items-center h-screen  bg-blue-100">
        <div class="text-center">
            <div id="flashcard-content"
                class="bg-white rounded-md shadow-md h-64 w-96 flex items-center justify-center mb-4"
                hx-get="/api/flashcard" hx-trigger="load" hx-target="#flashcard-content">
            </div>

            <button onclick="flipCard()"
                class="bg-green-400 hover:bg-green-600 text-white px-4 py-2 rounded transition duration-300">
                Flip Card
            </button>

            <div class="mt-4">
                <div class="flex justify-center items-center">
                    <label for="rating1" class="mr-2">1</label>
                    <input type="radio" id="rating1" name="rating" value="1" class="form-radio h-5 w-5 text-green-600">

                    <label for="rating2" class="mx-2">2</label>
                    <input type="radio" id="rating2" name="rating" value="2" class="form-radio h-5 w-5 text-green-600">

                    <label for="rating3" class="mx-2">3</label>
                    <input type="radio" id="rating3" name="rating" value="3" class="form-radio h-5 w-5 text-green-600">

                    <label for="rating4" class="mx-2">4</label>
                    <input type="radio" id="rating4" name="rating" value="4" class="form-radio h-5 w-5 text-green-600">

                    <label for="rating5" class="ml-2">5</label>
                    <input type="radio" id="rating5" name="rating" value="5" class="form-radio h-5 w-5 text-green-600">
                </div>
            </div>
            <div class="mt-5">
                <button class="bg-blue-400 hover:bg-blue-600 text-white px-4 py-2 rounded transition duration-300"
                    hx-post="/api/rate/flashcard" hx-trigger="click" hx-swap="none" id="submit-rating">
                    Submit Rating
                </button>
                <button class="bg-red-400 hover:bg-red-600 text-white px-4 py-2 rounded transition duration-300"
                    hx-get="/api/flashcard" hx-trigger="click" hx-target="#flashcard-content" hx-vals="">
                    Skip Card
                </button>
            </div>
        </div>
    </div>
    </div>

    <script>
        var frontContent = '';
        var backContent = '';
        var showingFront = true;
        var id;

        document.addEventListener('htmx:afterRequest', function (event) {
            if (event.detail.target.id === 'flashcard-content') {
                var data = event.detail.xhr.response;
                try {
                    var json = JSON.parse(data);
                    frontContent = json.front;
                    backContent = json.back;
                    id = json.id;
                    document.getElementById('flashcard-content').innerText = frontContent;
                } catch (e) {
                    console.error('Error parsing JSON:', e);
                }
            }
        });

        function flipCard() {
            var cardContent = document.getElementById('flashcard-content');
            cardContent.innerText = showingFront ? backContent : frontContent;
            showingFront = !showingFront;
        }

        document.getElementById('submit-rating').addEventListener('click', function () {
            var selectedRating = document.querySelector('input[name="rating"]:checked').value;
            this.setAttribute('hx-vals', JSON.stringify({ ID: id, Rating: selectedRating }));
        });
    </script>

</body>

</html>